
{{#if loggedin}}
        

<div id="loggedInHeader">
    <img src="https://i.ibb.co/TqPG25L/Capture.png" alt="Capture" border="0">
</div>
<div id="searchBar">
    <input type="text" placeholder="Search" id="searchInput"/>
    <button id='logout'>Logout</button>

</div>

{{else}}
<div id="headerContainer">

    <img src="https://i.ibb.co/C7C8k5f/Capture.png" alt="Capture" border="0" id="logo"/>
    <div id="loginInputContainer">
        <input type='text' placeholder='email' id='loginEmail' class='login' />
        <input type='password' placeholder='password' id='loginPassword' class='login'/>
        <input type='submit' value='login' class="login" id='loginSubmit'/>
    </div>

</div>
{{/if}}