    {{!-- <div class='otherUserProfileReplyContainer'>
        <div class='otherUserProfileReplyImageContainer'>
            <img src='{{ imageURL }}' />
        </div>
        <div class='otherUserProfileReplyBodyContainer'>
            <div class='otherUserProfileReplyCommentContainer'>
                <span> {{ comment }} </span>
            </div>
        </div>
    </div> --}}
    <div class='replyContainer'>
        <div class='replyImageContainer'>
            <img src='{{ imageURL }}' />
        </div>
        <div class='replyBodyContainer'>
            <div class='replyCommentContainer'>
                <span> {{ comment }} </span>
            </div>
        </div>
    </div>
