    <div class='replyContainer'>
        <div class='replyImageContainer'>
            <img src='{{ imageURL }}' />
        </div>
        <div class='replyBodyContainer'>
            <div class='replyCommentContainer'>
                <span> {{ comment }} </span>
            </div>
        </div>
    </div>
