{{>header}}
<div id="landingPicture">
    <img src="https://i.ibb.co/vYrK55d/vector-knowledge.jpg" alt="vector-knowledge" border="0"/>
</div>
<div id='form'>
    <p>Join the worlds largest community for knowledge sharing</p>
    <form method="POST" action="/signup" id='signupForm'>
        <input type='text' placeholder="First Name" id='fname'/>
        <input type='text' placeholder="Last Name" /> <br/>
        <input type='text' placeholder="Email" class='registration'/><br/>
        <input type='password' placeholder="Password" class='registration'/><br/>
        <input type='password' placeholder="Confirm Password" class='registration'/> <br/>
        <input type="submit" value="signup" class='registration' id='submit'/> 
    </form>
<div>
    {{!-- <div>
        {{>profileContainer }}
    </div>
    <div>
        {{>postContainer }}
    </div> --}}
</div>