<div id="messengerContainer">
    <div id="userContainer">
        {{>messengerUsers }}
    </div>
    <div class="messageContainer">
        <p> Messenger</p>
        {{!-- {{> messageList }} --}}
    </div>
</div>