<div id="messengerContainer">
    <div id="userContainer">
        {{#each users}}
        {{>messengerUsers this}}
        {{/each}}
    </div>
    <div id="messageContainer">
        <div>
            <input type='text' id="messageBox" />
            <button id="sendButton"> Send</button>
        </div>
    </div>
</div>