<div id="messengerContainer">
    <div id="userContainer">
        {{#each users}}
        {{>messengerUsers this}}
        {{/each}}
    </div>
    <div id="messageBiggerContainer">
        <div id="messageContainer">

        </div>
        <div id="sendContainer">
            <div>
                <textarea type='text' placeholder="Write a message..." id="messageBox"></textarea>
            </div>
            <div id ="sendButtonContainer">
                <button id="sendButton"> Send</button>
            </div>
            
        </div>
    </div>
    
</div>