#messengerContainer {
    width: 100%;
    height: 100%;
}

#userContainer {
    width: 30%;
    height: 100%;
    float: left;
    border-right: 1px solid lightgray;
}

#messageContainer {
    height: 80vh;
    overflow: scroll;
}

#messageBiggerContainer {
    background-color: white;
    width: 70%;
    height: 100%;
    float: right;
}

#sendContainer {
    height: 20vh;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
}

.message {}

.user {}

.leftUserContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px skyblue solid;
}

.leftUserContainer {
    float: left;
    margin-right: 20px;
    width: 30%;
}

.midUserContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 50%;
}

.textContainer {
    width: 40%;
}

p {
    margin: 0;
    padding: 0;
}

.rightUserContainer {
    float: right;
    width: 20%;
}

.usersContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-bottom: 1px lightgray solid;
}

.usersContainer:hover,
.usersContainer:active,
.usersContainer:focus {
    background-color: lightgray;
}

.msgContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 15px;
    margin-top: 20px;
}

.msgImgContainer {
    float: left;
}

.msgImgContainer img {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
}

.msgBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.msgNameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.msgNameContainer span {
    display: inline-block;
}

.msgNameContainer span:first-child {
    font-weight: bold;
}

.msgNameContainer span:last-child {
    margin-left: 20px;
    font-size: 13px;
    color: lightgray;
    text-align: center;
}

.msgTextContainer {}

#messageBox {
    width: 70vw;
    height: 15vh;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
    padding: 10px;
}

#sendButtonContainer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(243, 246, 248);
}

#sendButton {
    background-color: rgb(20, 161, 230);
    color: white;
    width: 60px;
    height: 35px;
    font-size: 20px;
    margin-right: 20px;
}