<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />

    {{#if messengerCSS}}
        <link href='/css/messenger.css' rel='stylesheet' />
    {{/if}}
    {{#if homeCSS}}
        <link href='/css/home.css' rel='stylesheet' />
    {{/if}}
    {{#if registrationCSS}}
        <link href='/css/registration.css' rel='stylesheet' />
        <script src='/js/home.js'></script>
    {{/if}}

    {{#if sendMessageCSS}}
        <link href='/css/sendMessage.css' rel='stylesheet' />
    {{/if}}

    {{#if homepageCSS}}
        <link href='/css/homepage.css' rel='stylesheet' />
    {{/if}}
    {{#if postsCSS}}
        <link href='/css/posts.css' rel='stylesheet' />
    {{/if}}

    {{#if editProfileCSS}}
        <link href='/css/editProfile.css' rel='stylesheet' />
    {{/if}}
    <script src='/js/landing.js'></script>
    <script src='/js/messenger.js'></script>
    <script src='/js/homepage.js'></script>
    <link href='/css/header.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/js/posts.js'></script>

    
</head>
<body>
    {{> header}} 
    {{{ body }}}
</body>
</html>