<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />

    {{#if messengerCSS}}
        <link href='/css/messenger.css' rel='stylesheet' />
    {{/if}}
    {{#if homeCSS}}
        <link href='/css/home.css' rel='stylesheet' />
    {{/if}}
    {{#if registrationCSS}}
        <link href='/css/registration.css' rel='stylesheet' />
    {{/if}}
    <script src='/js/landing.js'></script>
    <script src='/js/messenger.js'></script>

</head>
<body>
    {{{ body }}}
</body>
</html>