<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />

    {{#if messengerCSS}}
        <link href='/css/messenger.css' rel='stylesheet' />
    {{/if}}

    <script src='/js/messenger.js'></script>

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/loginPage">Login</a></li>
                <li class="main-header__item"><a href="/loginPage"> Log out</a></li>
                <li class="main-header__item"><a href="/messenger"> Messenger </a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>